body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background-color: #f6f6f7;
  font-family: sans-serif;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  min-height: 70vh;
  border-radius: 2px;
  justify-content: space-between;
  padding: 0px 2rem;
  overflow-x: hidden;
}

.delivery {
  color: rgb(255, 107, 130);
  font-weight: 600;
}

#title {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(255, 107, 130);
}

#content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: column;
}

#footerDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}

#footerButtonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

#footerButtonSection button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  outline: 0;
  border: 0;
  height: 3rem;
  background-color: #ff6b82;
  color: white;
  font-size: medium;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

#footerButtonSection .plus {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.footer-text {
  padding: 0.5rem;
}

.highlight {
  font-weight: 600;
  color: #ff6b82;
}

.coupon {
  border-radius: 15px;
  width: 100%;
  min-height: 10vh;
  display: flex;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.coupon_left {
  text-align: center;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #ff6b82;
  max-width: 15%;
  padding: 1rem;
  font-size: larger;
  overflow-wrap: break-word;
  flex-basis: 1;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

.coupon_right {
  padding: 0.5rem 1rem;
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.grey-text {
  color: #d4d4d4;
}

.red-text {
  color: #ff6165;
  font-weight: 800;
}

.radio {
  background-color: rgb(255, 107, 130);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 107, 130);
  background-clip: content-box;
}

.coupon_right input {
  color: red;
}

.offerSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.offerSection .price {
  font-weight: 600;
}

.coupon-dropdown {
  display: flex;
  border-radius: 15px;
  width: 100%;
  /* min-height: 15rem; */
  overflow: hidden;
  flex-direction: column;
  padding: 1.4rem 0px;
  border: 2px solid rgb(255, 107, 130);
  background-color: #fff9fa;
  cursor: pointer;
}

.dropdownDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 1rem;
  gap: 1rem;
  margin: 0.5rem;
}

.select-box {
  height: 2rem;
  outline: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #e7e5e5;
  width: 5rem;
}

table {
  font-size: small;
}

s {
  font-size: 0.9rem;
  color: #c9c5c5;
}

.discount {
  padding: 2px 0;
  border-radius: 4px;
  text-align: center;
  color: white;
  background-color: #ff6b82;
}

.table-data {
  padding: 0.2rem;
}

.table-header {
  text-align: left;
  font-weight: 300;
}

.option-section {
  margin: 0 3rem;
}

@media (max-width: 400px) {
  #card {
    width: 90vw !important;
  }
}

@media (max-width: 600px) {
  #card {
    width: 75%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #card {
    width: 45%;
  }
}

@media (min-width: 769px) and (max-width: 1224px) {
  #card {
    width: 45%;
  }
}

@media (min-width: 1225px) {
  #card {
    width: 25%;
  }
}
